{% extends "base.html.twig" %}

{% set page_title = 'Ajout temps' %}

{% block body %}
    <div class="form">
        {{ form_start(form)}}
        <div class="form-row">
            <div class="form-category">
                <p class="form-category-title">Temps :</p>
                {{ form_widget(form.temps) }}
            </div>
            <div class="form-category">
                <p class="form-category-title">Palier 3m :</p>
                {{ form_widget(form.palier3) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-category">
                <p class="form-category-title">Palier 6m :</p>
                {{ form_widget(form.palier6) }}
            </div>
            <div class="form-category">
                <p class="form-category-title">Palier 9m :</p>
                {{ form_widget(form.palier9) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-category">
                <p class="form-category-title">Palier 12m :</p>
                {{ form_widget(form.palier12) }}
            </div>
            <div class="form-category">
                <p class="form-category-title">Palier 15m :</p>
                {{ form_widget(form.palier15) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-category">
                <p class="form-category-title">Profondeur :</p>
                {{ form_widget(form.profondeur_id) }}
            </div>
        </div>

        <button class="submit-button" type="submit">Envoyer</button>
        {{form_rest(form) }}
        {{ form_end(form)}}
    </div>
{% endblock %}